




.quote__container {
	color: var(--primarywhite);
	color: #FFF;

	font-size: 18px;
	font-weight: 400;

	/margin-top: var(--page-padding-h);
	margin-top: var(--page-padding-v);
}

@media screen and (min-width: 1024px) {
	.quote__container {
		flex-basis: 40%;
		margin-right: 10%;
	}
}
