:root {

/* COLOR PALETTE */

  --black-1: #1D1D1D;
  --black-2: #404040;
  --gray-1: #C0C0C0;
  --gray-2: #2A2A2A;
  --gray-overlay: #4a4a4a4d;
  --white-1: #F6F6F6;


/* 
  COLOR SETTINGS
*/
  --primarycolor: var(--1-green);
  --secondarycolor: var(--1-black);
  --tertiarycolor:  var(--2-blueBright2);  /* 2-gray, 2-blue, 2-blue2  */

  --primaryblack: var(--black-1);
  --primarygray: var(--gray-1);
  --primarywhite: var(--white-1);

/* FONTS */
  --font-courier-1: 'Courier New';
  --font-courier-2: 'Courier New Sans';
/* 
  FONT SETTINGS
*/
  --primary-font: var(--font-courier-1);

/*
  DEFAULT SETTINGS
*/
  --page-padding-h: 24px;
  --page-padding-v: 40px;
  --section-gap: 10vh;

  --nav-height: 30px;
}

@media screen and (min-width: 1024px) {
  :root {
    --page-padding-h: 40px;
    --page-padding-v: 50px;

    --section-gap: 20vh;
  }

}

body {
  font-family: var(--primary-font), 'Times New Roman';
  margin: 0; padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  width: 100%;
}

figure, h1, h2, h3, h4, p, ul, li {
  margin: 0;
}

ul, li {
  padding: 0;
}

ul {
  list-style: none;
}

canvas {
  width: 100px;
  height: 100px;
}


img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

button {
  font-family: var(--primary-font), 'Times New Roman';
}

.page-padding {
  padding: var(--page-padding-v) var(--page-padding-h);
  margin: auto;
}


.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-center-h {
  display: flex;
  justify-content: center;
}

.flex-center-v {
  display: flex;
  align-items: center;
}

.test-border-red { border: 1px solid red; }
.test-border-green { border: 1px solid green; }
.test-border-blue { border: 1px solid blue; }
.test-border-purple { border: 1px solid purple; }
.test-border-yellow { border: 1px solid yellow; }
.test-border-orange { border: 1px solid orange; }

.image__container {
  display: flex;
  justify-content: center;
  align-items: center;
}